@import "~bootstrap/scss/bootstrap";

body {
    height: 100vh;
    width: 100vw;
    font-family: "Belwe Bd BT [Rus by me]";
    color: #d8aa2d;
    line-height: 1.5;
    background-color: #393737;
}

@font-face {
    font-family: "Belwe Bd BT [Rus by me]";
    src: url("../font.otf");
}

@import "welcome-screen.scss";
@import "menu-screen.scss";
@import "game-screen.scss";
@import "endgame-screen.scss"
